body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #f2f2f2;
}

body > section {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border: none;
    display: none;
}

.active {
    display: block;
}

.active h1 {
    color: lightskyblue;
    text-align: center;
}
.active h2 {
    color: lightskyblue;
    text-align: center;
}

.active .buttons {
    width: 500px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.active a {
    margin: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: xx-large;
    text-decoration: none;
    background-color: lightcyan;
    color: lightskyblue;
    border: solid 2px;
    border-radius: 20px;
    width: inherit;
    height: 50px;
}

.active a:hover {
    background-color: lightyellow;
}

.active .canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.avatars_list {
    width: 500px;
    margin: 20px auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}

.avatars_list canvas {
    background-color: lightcyan;
    border: solid 2px lightskyblue;
    border-radius: 20px;
    cursor: pointer;
}
.avatars_list canvas:hover {
    background-color: lightyellow;
}
.avatars_list .selected {
    border-color: lightyellow;
}

.difficulty {
    color: lightcyan;
    border-radius: 16px;
    display: flex;
    margin: 0 auto;
}
