body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #f2f2f2;
}

body > section {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border: none;
    display: none;
}

.active {
    display: block;
}

.active h1 {
    color: lightskyblue;
    text-align: center;
}
.active h2 {
    color: lightskyblue;
    text-align: center;
}

.active .buttons {
    width: 500px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.active a {
    margin: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: xx-large;
    text-decoration: none;
    background-color: lightcyan;
    color: lightskyblue;
    border: solid 2px;
    border-radius: 20px;
    width: 500px;
    height: 50px;
}

.active a:hover {
    background-color: lightyellow;
}

.active .canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image:radial-gradient(darkcyan, black);
}

.avatars-list {
    width: 500px;
    margin: 20px auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}

.avatars-list canvas {
    background-color: lightcyan;
    border: solid 3px lightskyblue;
    border-radius: 20px;
    cursor: pointer;
}
.avatars-list canvas:hover {
    background-color: lightskyblue;
}
.avatars-list .selected-by-me {
    background-color: lightskyblue;
}
.avatars-list .selected-by-other {
    background-color: tomato;
}


.difficulty {
    color: lightcyan;
    border-radius: 16px;
    display: flex;
    margin: 0 auto;
}

.login-form {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.login-nickname-input {
    width: 500px;
    height: 50px;
    text-align: center;
    font-size: xx-large;
    background-color: lightcyan;
    border: solid 3px lightskyblue;
    border-radius: 10px;
}
.login-nickname-input:focus {
    outline: none;
}

.login-button {
    width: 100px;
    height: 50px;
    margin-left: 10px;
    background-color: lightgrey;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 3px lightslategrey;
    border-radius: 10px;
    transition: all 0.1s;
}

.login-active {
    background-color: lightcyan;
    border-color: lightskyblue;
}

.login-active:hover {
    cursor: pointer;
    background-color: lightskyblue;
    color: white;
}

.scores .scores-tab {
    margin: 10px auto;
    border: solid 2px lightskyblue;
    border-radius: 20px;
    padding: 10px;
}

.scores .scores-tab tr *{
    font-size: 1.5em;
}

.scores .scores-tab th{
    color: lightskyblue;
}

.scores .scores-tab td{
    color: darkgray;
}

.scores .scores-tab tr *:first-child {
    text-align: left;
}
.scores .scores-tab tr *:last-child {
    text-align: right;
} 

.scores a {
    margin: auto;
}

.credits .members-container {
    margin: 0 auto;
    display: flex;
    justify-content: center;
}
.credits .member{
    margin: 10px;
    padding: 10px;
    border: solid 2px lightskyblue;
    border-radius: 20px;
}

.credits .name {
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 2em;
}

.credits .alias {
    text-align: center;
    margin-top: 0;
    font-size: 0.9em;
    color: darkgray;
}

.credits .group, .fav-game, .note-claim {
    color: lightskyblue;
}
.credits a {
    margin: auto;
}